<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div>
  
  <div>
    <% if @article.photo.attached? %>
      <%= image_tag @article.photo, { :width => "200", :height => "200" } %><br>
    <% end %>
    <%= form.label "choose a photo" %><br>
    <%= form.file_field :photo %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
